body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url(https://th.bing.com/th/id/R.eb5afb2df67544fa9cfe89de83c28c64?rik=7T2AHqQM0bDOzA&pid=ImgRaw&r=0);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    padding: 30px;
    border-radius: 10px;
    width: 320px;
    backdrop-filter: blur(50px);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    font-size: 14px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px
}

.checkbox-group input {
    margin-right: 10px;
}

.checkbox-group label {
    color: #fff;
    font-size: 14px;
}

.login-btn {
    background-color: #f6ff00;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #e4d502;
}

.form-footer {
    text-align: center;
    margin-top: 20px;
}

.form-footer a {
    color: #000;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}

.form-footer p {
    color: #fff;
    font-size: 14px;
}

.back {
    margin-left: 4px;
    background-color: #1c5cd4;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 10;
}

.back:hover {
    background-color: #043ba1;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
    .back {
        left: 5%;
        top: 5%;
    }
}